---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="grid place-items-center mt-4">
		<h1 class="text-white font-bold text-3xl">Bienvenido a <span class="text-gradient">Astro Pruebas</span></h1>

		<ul class="my-3">
			<li><a href="/pokemon" class="inline-block rounded-md text-yellow-100 border border-yellow-300 px-3 py-1 transition hover:bg-yellow-100 hover:text-yellow-700">Buscar un Pokemon</a></li>
		</ul>
	</main>
</Layout>
