---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pokemon">
  <main class="grid place-items-center mt-4">
    <h1 class="text-white font-bold text-3xl my-4">Buscar un Pokemon</h1>
    <form class="bg-white rounded-md p-4 shadow-lg">
      <input type="text" name="name" placeholder="nombre del pokemon" />
      <button type="submit">Buscar</button>
    </form>
    <div id="pokemon-container" class="bg-white rounded-md p-4 shadow-lg hidden mt-4"></div>
    <div class="text-white mt-6">volver a la <a href="/">página principal</a></div>
  </main>
</Layout>
<script>
  // handle search form submission
  const form = document.querySelector('form') as HTMLFormElement;
  form.addEventListener('submit', (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const name = formData.get('name');
    fetch(`/api/search/${name}`, {
      method: 'POST'
    })
      .then((response) => response.json())
      .then((data) => {

        const pokemon = data.pokemonData
        const pokemonContainer = document.getElementById('pokemon-container') as HTMLDivElement;
        pokemonContainer.innerHTML = `
          <h2 class="text-2xl font-bold">${pokemon.name}</h2>
          <img src="${pokemon.sprites.front_default}" alt="${pokemon.name}" />
        `;
        pokemonContainer.classList.remove('hidden');
      })
      .catch((error) => {
        console.error(error);
      });
  });
</script>